[submodule "tmux/.tmux/plugins/tpm"]

	# Use the tpm plugin manager
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "zsh/.zshcustom/plugins/evalcache"]

	# Cache eval to speed up shell init
	path = zsh/.zshcustom/plugins/evalcache
	url = https://github.com/mroth/evalcache.git

[submodule "zsh/.zshcustom/plugins/fast-syntax-highlighting"]

	# Add syntax highlighting to shell
	path = zsh/.zshcustom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git

[submodule "zsh/.zshcustom/plugins/zsh-autocomplete"]

	# Add IDE-like auto completion
	path = zsh/.zshcustom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git

[submodule "zsh/.zshcustom/plugins/zsh-completions"]

	# Enable extra ZSH auto completions
	path = zsh/.zshcustom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
